<a href="https://colab.research.google.com/github/abs711/pyspark_stuff/blob/main/Pyspark_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

##Connect to google drive

In [ ]:
from google.colab import drive

# the following command loads up your google drive. It will promp you to give Colab access to your Gdrive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

##Pandas

CSV file available at
https://drive.google.com/file/d/1yk4qlDxm_dIs8CLgjGJYhXA_qbx2faq8/view?usp=sharing

In [ ]:
import os
import pandas as pd

csv_path = '/content/drive/MyDrive'

# os.listdir(img_path)
filename = os.path.join(csv_path,'brats_462.csv')
pd.read_csv(filename)

,2023_subject_id,age,sex,mgmt_status,idh_status,survival_days,nr_volume,er_volume,et_volume,tumor_volume,spm_etiv,tumor_burden
0,BraTS-GLI-00000-000,38.0,1.0,1.0,0.0,224.0,11738.0,12836.0,32731.0,57305.0,1480170.0,0.038715
1,BraTS-GLI-00002-000,64.0,2.0,1.0,0.0,313.0,11248.0,155695.0,23651.0,190594.0,1392388.0,0.136883
2,BraTS-GLI-00003-000,54.0,1.0,0.0,0.0,241.0,17214.0,57773.0,24252.0,99239.0,1617269.0,0.061362
3,BraTS-GLI-00005-000,49.0,1.0,1.0,1.0,1650.0,24187.0,76742.0,23854.0,124783.0,1292510.0,0.096543
4,BraTS-GLI-00006-000,37.0,2.0,1.0,0.0,1611.0,25506.0,85957.0,26448.0,137911.0,1519600.0,0.090755
...,...,...,...,...,...,...,...,...,...,...,...,...
457,BraTS-GLI-01142-000,74.0,1.0,1.0,0.0,153.0,26654.0,57398.0,79560.0,163612.0,1439358.0,0.113670
458,BraTS-GLI-01143-000,54.0,1.0,1.0,0.0,727.0,48940.0,45957.0,77776.0,172673.0,1535981.0,0.112419
459,BraTS-GLI-01144-000,58.0,1.0,0.0,0.0,1048.0,1523.0,69570.0,10930.0,82023.0,1598778.0,0.051304
460,BraTS-GLI-01145-000,44.0,2.0,0.0,0.0,567.0,37590.0,58885.0,26259.0,122734.0,1345024.0,0.091250
461,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## PySpark

In [ ]:
 from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Brats_EDA').getOrCreate()

In [ ]:
spark

In [ ]:
df_pyspark = spark.read.option('header','true').csv(filename)

In [ ]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [ ]:
df_pyspark.head(3)

[Row(2023_subject_id='BraTS-GLI-00000-000', age='38', sex='1', mgmt_status='1', idh_status='0', survival_days='224', nr_volume='11738', er_volume='12836', et_volume='32731', tumor_volume='57305', spm_etiv='1480170', tumor_burden='0.038715148'),
 Row(2023_subject_id='BraTS-GLI-00002-000', age='64', sex='2', mgmt_status='1', idh_status='0', survival_days='313', nr_volume='11248', er_volume='155695', et_volume='23651', tumor_volume='190594', spm_etiv='1392388', tumor_burden='0.136882823'),
 Row(2023_subject_id='BraTS-GLI-00003-000', age='54', sex='1', mgmt_status='0', idh_status='0', survival_days='241', nr_volume='17214', er_volume='57773', et_volume='24252', tumor_volume='99239', spm_etiv='1617269', tumor_burden='0.061362086')]

### df_pyspark.printSchema() === df.info()

In [ ]:
df_pyspark.printSchema()

root
 |-- 2023_subject_id: string (nullable = true)
 |-- age: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- mgmt_status: string (nullable = true)
 |-- idh_status: string (nullable = true)
 |-- survival_days: string (nullable = true)
 |-- nr_volume: string (nullable = true)
 |-- er_volume: string (nullable = true)
 |-- et_volume: string (nullable = true)
 |-- tumor_volume: string (nullable = true)
 |-- spm_etiv: string (nullable = true)
 |-- tumor_burden: string (nullable = true)

# PySpark DataFrames Exploration

In [ ]:
#spark = SparkSession.builder.appName('DataFrame').getOrCreate()
spark

### Without inferschema everything is a string
### Check datatype of columns using printSchema

In [ ]:
df_pyspark = spark.read.option('header','true').csv(filename,inferSchema=True)
"""
df_pyspark = spark.read.csv(filename, header= True, inferSchema=True)
"""
df_pyspark.printSchema()
type(df_pyspark)

root
 |-- 2023_subject_id: string (nullable = true)
 |-- age: double (nullable = true)
 |-- sex: integer (nullable = true)
 |-- mgmt_status: integer (nullable = true)
 |-- idh_status: integer (nullable = true)
 |-- survival_days: integer (nullable = true)
 |-- nr_volume: integer (nullable = true)
 |-- er_volume: integer (nullable = true)
 |-- et_volume: integer (nullable = true)
 |-- tumor_volume: integer (nullable = true)
 |-- spm_etiv: integer (nullable = true)
 |-- tumor_burden: double (nullable = true)

pyspark.sql.dataframe.DataFrame

In [ ]:
df_pyspark.columns

['2023_subject_id',
 'age',
 'sex',
 'mgmt_status',
 'idh_status',
 'survival_days',
 'nr_volume',
 'er_volume',
 'et_volume',
 'tumor_volume',
 'spm_etiv',
 'tumor_burden']

In [ ]:
df_pyspark.head(3)

[Row(2023_subject_id='BraTS-GLI-00000-000', age=38.0, sex=1, mgmt_status=1, idh_status=0, survival_days=224, nr_volume=11738, er_volume=12836, et_volume=32731, tumor_volume=57305, spm_etiv=1480170, tumor_burden=0.038715148),
 Row(2023_subject_id='BraTS-GLI-00002-000', age=64.0, sex=2, mgmt_status=1, idh_status=0, survival_days=313, nr_volume=11248, er_volume=155695, et_volume=23651, tumor_volume=190594, spm_etiv=1392388, tumor_burden=0.136882823),
 Row(2023_subject_id='BraTS-GLI-00003-000', age=54.0, sex=1, mgmt_status=0, idh_status=0, survival_days=241, nr_volume=17214, er_volume=57773, et_volume=24252, tumor_volume=99239, spm_etiv=1617269, tumor_burden=0.061362086)]

In [ ]:
df_pyspark.show(3)

+-------------------+----+---+-----------+----------+-------------+---------+---------+---------+------------+--------+------------+
|    2023_subject_id| age|sex|mgmt_status|idh_status|survival_days|nr_volume|er_volume|et_volume|tumor_volume|spm_etiv|tumor_burden|
+-------------------+----+---+-----------+----------+-------------+---------+---------+---------+------------+--------+------------+
|BraTS-GLI-00000-000|38.0|  1|          1|         0|          224|    11738|    12836|    32731|       57305| 1480170| 0.038715148|
|BraTS-GLI-00002-000|64.0|  2|          1|         0|          313|    11248|   155695|    23651|      190594| 1392388| 0.136882823|
|BraTS-GLI-00003-000|54.0|  1|          0|         0|          241|    17214|    57773|    24252|       99239| 1617269| 0.061362086|
+-------------------+----+---+-----------+----------+-------------+---------+---------+---------+------------+--------+------------+
only showing top 3 rows

# Selecting columns using df_pyspark.select

In [ ]:
df_pyspark.select(['age','sex']).show(3)

+----+---+
| age|sex|
+----+---+
|38.0|  1|
|64.0|  2|
|54.0|  1|
+----+---+
only showing top 3 rows

## Using pyspark.sql.functions.max() for max value in a column

In [ ]:
from pyspark.sql.functions import max

result = df_pyspark.select([max('age')])

max_age = result.collect()[0]['max(age)']


result = df_pyspark.select([max('survival_days')])

max_survival = result.collect()[0]['max(survival_days)']

In [ ]:
df_pyspark.dtypes

[('2023_subject_id', 'string'),
 ('age', 'double'),
 ('sex', 'int'),
 ('mgmt_status', 'int'),
 ('idh_status', 'int'),
 ('survival_days', 'int'),
 ('nr_volume', 'int'),
 ('er_volume', 'int'),
 ('et_volume', 'int'),
 ('tumor_volume', 'int'),
 ('spm_etiv', 'int'),
 ('tumor_burden', 'double')]

## df_pyspark.describe()

In [ ]:
df_pyspark.describe().show()

+-------+-------------------+------------------+-------------------+------------------+-------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+--------------------+
|summary|    2023_subject_id|               age|                sex|       mgmt_status|         idh_status|     survival_days|         nr_volume|        er_volume|         et_volume|     tumor_volume|          spm_etiv|        tumor_burden|
+-------+-------------------+------------------+-------------------+------------------+-------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+--------------------+
|  count|                461|               461|                461|               461|                461|               461|               461|              461|               461|              461|               461|                 461|
|   mean|               NULL|60.917895878524924| 1.3644251626898047|0.5206073752711496| 0.0455531453362256| 472.9219088937093|11632.522776572669|60422.97180043384|21677.527114967463|93733.02169197398|1513625.5704989154| 0.06188139638394797|
| stddev|               NULL|13.278816659152875|0.48179143211675607|0.5001178772678279|0.20874044600859687|382.28787010269184|15103.690264807497|42245.38400888196| 16461.83589653928|55916.66835463408|139344.83512439753|0.036285224815884205|
|    min|BraTS-GLI-00000-000|              17.0|                  1|                 0|                  0|                 1|                 0|               55|                22|             6046|           1205413|         0.004600517|
|    max|BraTS-GLI-01145-000|              94.0|                  2|                 1|                  1|              2144|            171723|           195271|             84287|           263809|           2008083|         0.163465949|
+-------+-------------------+------------------+-------------------+------------------+-------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+--------------------+

#Adding column in dataframe using df_pyspark.withColumn('col_name', operation)

In [ ]:
df_pyspark = df_pyspark.withColumn('label', df_pyspark['survival_days'] < 365)
df_pyspark.show(3)

+-------------------+----+---+-----------+----------+-------------+---------+---------+---------+------------+--------+------------+-----+
|    2023_subject_id| age|sex|mgmt_status|idh_status|survival_days|nr_volume|er_volume|et_volume|tumor_volume|spm_etiv|tumor_burden|label|
+-------------------+----+---+-----------+----------+-------------+---------+---------+---------+------------+--------+------------+-----+
|BraTS-GLI-00000-000|38.0|  1|          1|         0|          224|    11738|    12836|    32731|       57305| 1480170| 0.038715148| true|
|BraTS-GLI-00002-000|64.0|  2|          1|         0|          313|    11248|   155695|    23651|      190594| 1392388| 0.136882823| true|
|BraTS-GLI-00003-000|54.0|  1|          0|         0|          241|    17214|    57773|    24252|       99239| 1617269| 0.061362086| true|
+-------------------+----+---+-----------+----------+-------------+---------+---------+---------+------------+--------+------------+-----+
only showing top 3 rows

#Dropping columns using df_pyspark.drop('col_name')

In [ ]:
df_pyspark = df_pyspark.drop('2023_subject_id')
df_pyspark.show(3)

+----+---+-----------+----------+-------------+---------+---------+---------+------------+--------+------------+-----+
| age|sex|mgmt_status|idh_status|survival_days|nr_volume|er_volume|et_volume|tumor_volume|spm_etiv|tumor_burden|label|
+----+---+-----------+----------+-------------+---------+---------+---------+------------+--------+------------+-----+
|38.0|  1|          1|         0|          224|    11738|    12836|    32731|       57305| 1480170| 0.038715148| true|
|64.0|  2|          1|         0|          313|    11248|   155695|    23651|      190594| 1392388| 0.136882823| true|
|54.0|  1|          0|         0|          241|    17214|    57773|    24252|       99239| 1617269| 0.061362086| true|
+----+---+-----------+----------+-------------+---------+---------+---------+------------+--------+------------+-----+
only showing top 3 rows

#Renaming columns using df_pyspark.withColumnRenamed('old_name',new_name')

In [ ]:
df_pyspark = df_pyspark.withColumnRenamed('label', 'gt')
df_pyspark.show(3)

+----+---+-----------+----------+-------------+---------+---------+---------+------------+--------+------------+----+
| age|sex|mgmt_status|idh_status|survival_days|nr_volume|er_volume|et_volume|tumor_volume|spm_etiv|tumor_burden|  gt|
+----+---+-----------+----------+-------------+---------+---------+---------+------------+--------+------------+----+
|38.0|  1|          1|         0|          224|    11738|    12836|    32731|       57305| 1480170| 0.038715148|true|
|64.0|  2|          1|         0|          313|    11248|   155695|    23651|      190594| 1392388| 0.136882823|true|
|54.0|  1|          0|         0|          241|    17214|    57773|    24252|       99239| 1617269| 0.061362086|true|
+----+---+-----------+----------+-------------+---------+---------+---------+------------+--------+------------+----+
only showing top 3 rows

#Handling missing values
# Dropping rows with null values: df_pyspark.na.drop(how=' ',thresh=' ', subset=[])

In [ ]:
# df_pyspark.na.drop().show()
df_pyspark.na.drop(how='any',thresh=2).show(3) #how='any', 'all'; Thresh=2 keep with atleast 2 non-NUll values

+----+---+-----------+----------+-------------+---------+---------+---------+------------+--------+------------+----+
| age|sex|mgmt_status|idh_status|survival_days|nr_volume|er_volume|et_volume|tumor_volume|spm_etiv|tumor_burden|  gt|
+----+---+-----------+----------+-------------+---------+---------+---------+------------+--------+------------+----+
|38.0|  1|          1|         0|          224|    11738|    12836|    32731|       57305| 1480170| 0.038715148|true|
|64.0|  2|          1|         0|          313|    11248|   155695|    23651|      190594| 1392388| 0.136882823|true|
|54.0|  1|          0|         0|          241|    17214|    57773|    24252|       99239| 1617269| 0.061362086|true|
+----+---+-----------+----------+-------------+---------+---------+---------+------------+--------+------------+----+
only showing top 3 rows

# Dropping rows with null values from specific columns: df_pyspark.na.drop(subset=['col_name1','col_name2'])

In [ ]:
df_pyspark.na.drop(how='any',subset=['age']).show(3) #remove nan in 'age' column

+----+---+-----------+----------+-------------+---------+---------+---------+------------+--------+------------+----+
| age|sex|mgmt_status|idh_status|survival_days|nr_volume|er_volume|et_volume|tumor_volume|spm_etiv|tumor_burden|  gt|
+----+---+-----------+----------+-------------+---------+---------+---------+------------+--------+------------+----+
|38.0|  1|          1|         0|          224|    11738|    12836|    32731|       57305| 1480170| 0.038715148|true|
|64.0|  2|          1|         0|          313|    11248|   155695|    23651|      190594| 1392388| 0.136882823|true|
|54.0|  1|          0|         0|          241|    17214|    57773|    24252|       99239| 1617269| 0.061362086|true|
+----+---+-----------+----------+-------------+---------+---------+---------+------------+--------+------------+----+
only showing top 3 rows

# Replace missing values using df_pyspark.na.fill(value,['col_name1','col_name1'])

In [ ]:
df_pyspark.na.fill('value',['age', 'sex']).show(3)

+----+---+-----------+----------+-------------+---------+---------+---------+------------+--------+------------+----+
| age|sex|mgmt_status|idh_status|survival_days|nr_volume|er_volume|et_volume|tumor_volume|spm_etiv|tumor_burden|  gt|
+----+---+-----------+----------+-------------+---------+---------+---------+------------+--------+------------+----+
|38.0|  1|          1|         0|          224|    11738|    12836|    32731|       57305| 1480170| 0.038715148|true|
|64.0|  2|          1|         0|          313|    11248|   155695|    23651|      190594| 1392388| 0.136882823|true|
|54.0|  1|          0|         0|          241|    17214|    57773|    24252|       99239| 1617269| 0.061362086|true|
+----+---+-----------+----------+-------------+---------+---------+---------+------------+--------+------------+----+
only showing top 3 rows

# Using pyspark.ml.feature.Imputer to replace missing value
#Imputer(inputCols=[], outputCols=[]).setStrategy('mean')

In [ ]:
# Handling missing values
from pyspark.ml.feature import Imputer

imputer = Imputer(inputCols=['age', 'sex'],
                  outputCols=["{}_imputed".format(c) for c in ['age', 'sex']]).setStrategy('mean')

imputer.fit(df_pyspark).transform(df_pyspark).show(3)

+----+---+-----------+----------+-------------+---------+---------+---------+------------+--------+------------+----+-----------+-----------+
| age|sex|mgmt_status|idh_status|survival_days|nr_volume|er_volume|et_volume|tumor_volume|spm_etiv|tumor_burden|  gt|age_imputed|sex_imputed|
+----+---+-----------+----------+-------------+---------+---------+---------+------------+--------+------------+----+-----------+-----------+
|38.0|  1|          1|         0|          224|    11738|    12836|    32731|       57305| 1480170| 0.038715148|true|       38.0|          1|
|64.0|  2|          1|         0|          313|    11248|   155695|    23651|      190594| 1392388| 0.136882823|true|       64.0|          2|
|54.0|  1|          0|         0|          241|    17214|    57773|    24252|       99239| 1617269| 0.061362086|true|       54.0|          1|
+----+---+-----------+----------+-------------+---------+---------+---------+------------+--------+------------+----+-----------+-----------+
only showing top 3 rows

#Equivalent of pandas.cut()

In [ ]:
from pyspark.ml.feature import Binarizer, Bucketizer
# threshold = 0 for binarizer
# binarizer = Binarizer(threshold=365, inputCol='survival_days', outputCol='label_binary')
# provide 5 split points to generate 4 buckets
bucketizer = Bucketizer(splits=[0, 365, 548 , max_survival], inputCol='survival_days', outputCol='label_3_class')

# pipeline stages
from pyspark.ml import Pipeline
stages = [bucketizer]
pipeline = Pipeline(stages=stages)

# fit the pipeline model and transform the data
pipeline.fit(df_pyspark).transform(df_pyspark).show(3)

+----+---+-----------+----------+-------------+---------+---------+---------+------------+--------+------------+----+-------------+
| age|sex|mgmt_status|idh_status|survival_days|nr_volume|er_volume|et_volume|tumor_volume|spm_etiv|tumor_burden|  gt|label_3_class|
+----+---+-----------+----------+-------------+---------+---------+---------+------------+--------+------------+----+-------------+
|38.0|  1|          1|         0|          224|    11738|    12836|    32731|       57305| 1480170| 0.038715148|true|          0.0|
|64.0|  2|          1|         0|          313|    11248|   155695|    23651|      190594| 1392388| 0.136882823|true|          0.0|
|54.0|  1|          0|         0|          241|    17214|    57773|    24252|       99239| 1617269| 0.061362086|true|          0.0|
+----+---+-----------+----------+-------------+---------+---------+---------+------------+--------+------------+----+-------------+
only showing top 3 rows

#Filter operations

In [ ]:
df_pyspark.filter("age<=40").select(['age','sex','tumor_burden']).show(3)

+----+---+------------+
| age|sex|tumor_burden|
+----+---+------------+
|38.0|  1| 0.038715148|
|37.0|  2| 0.090754804|
|29.0|  1| 0.108869389|
+----+---+------------+
only showing top 3 rows

In [ ]:
df_pyspark.filter((df_pyspark['age']<=40) & (df_pyspark['tumor_burden']>0.1)).select(['age','sex','tumor_burden']).show(3)

+-----+---+------------+
|  age|sex|tumor_burden|
+-----+---+------------+
| 29.0|  1| 0.108869389|
|39.64|  1| 0.144319374|
| 26.0|  1| 0.117806733|
+-----+---+------------+
only showing top 3 rows

In [ ]:
df_pyspark.filter((df_pyspark['age']<=40) | (df_pyspark['tumor_burden']>0.1)).select(['age','sex','tumor_burden']).show(3)

+----+---+------------+
| age|sex|tumor_burden|
+----+---+------------+
|38.0|  1| 0.038715148|
|64.0|  2| 0.136882823|
|37.0|  2| 0.090754804|
+----+---+------------+
only showing top 3 rows

In [ ]:
df_pyspark.filter(~((df_pyspark['age']<=40) | (df_pyspark['tumor_burden']>0.1))).select(['age','sex','tumor_burden']).show(3)

+----+---+------------+
| age|sex|tumor_burden|
+----+---+------------+
|54.0|  1| 0.061362086|
|49.0|  1|  0.09654316|
|60.0|  2| 0.012891549|
+----+---+------------+
only showing top 3 rows

In [ ]:
df_pyspark.filter(~(df_pyspark['age']<=40) | (df_pyspark['tumor_burden']>0.1)).select(['age','sex','tumor_burden']).show(3)

+----+---+------------+
| age|sex|tumor_burden|
+----+---+------------+
|64.0|  2| 0.136882823|
|54.0|  1| 0.061362086|
|49.0|  1|  0.09654316|
+----+---+------------+
only showing top 3 rows

# GroupBy and Aggregate functions

In [ ]:
df_pyspark.groupBy('sex').avg().na.drop().show(3)

+---+-----------------+--------+------------------+--------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+--------------------+
|sex|         avg(age)|avg(sex)|  avg(mgmt_status)|     avg(idh_status)|avg(survival_days)|    avg(nr_volume)|   avg(er_volume)|    avg(et_volume)|avg(tumor_volume)|     avg(spm_etiv)|   avg(tumor_burden)|
+---+-----------------+--------+------------------+--------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+--------------------+
|  1|60.06276450511944|     1.0|0.4948805460750853| 0.06484641638225255|466.67235494880543|11590.703071672355|63129.25938566553|22417.890784982934|97137.85324232082|1573609.5153583619|0.061814001174061425|
|  2| 62.4092857142857|     2.0|0.5654761904761905|0.011904761904761904|483.82142857142856|11705.458333333334|55703.07738095238| 20386.29761904762|87794.83333333333|1409010.7142857143| 0.06199893683928572|
+---+-----------------+--------+------------------+--------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+--------------------+

###Using aggregate function directly without grouping

In [ ]:
df_pyspark.agg({'age':'avg'}).show()

+------------------+
|          avg(age)|
+------------------+
|60.917895878524924|
+------------------+

In [ ]:
df_pyspark.groupBy('sex').avg('age').na.drop().show()

+---+-----------------+
|sex|         avg(age)|
+---+-----------------+
|  1|60.06276450511944|
|  2| 62.4092857142857|
+---+-----------------+

# Machine Learning using pySpark: pySpark.Mlib
##DataFrame API

### Vector Assembler
group independent features: [age, sex,] ---> new feature ---> independent feature

In [ ]:
from pyspark.ml.feature import VectorAssembler

feature_assembler = VectorAssembler(inputCols=['age','sex','tumor_burden'],outputCol='independent_features')

In [ ]:
output = feature_assembler.transform(df_pyspark)

In [ ]:
output.select(['age','sex','tumor_burden','survival_days','independent_features']).show(3)

+----+---+------------+-------------+--------------------+
| age|sex|tumor_burden|survival_days|independent_features|
+----+---+------------+-------------+--------------------+
|38.0|  1| 0.038715148|          224|[38.0,1.0,0.03871...|
|64.0|  2| 0.136882823|          313|[64.0,2.0,0.13688...|
|54.0|  1| 0.061362086|          241|[54.0,1.0,0.06136...|
+----+---+------------+-------------+--------------------+
only showing top 3 rows

In [ ]:
final_data = output.select('independent_features','survival_days')
final_data.show(3)

+--------------------+-------------+
|independent_features|survival_days|
+--------------------+-------------+
|[38.0,1.0,0.03871...|          224|
|[64.0,2.0,0.13688...|          313|
|[54.0,1.0,0.06136...|          241|
+--------------------+-------------+
only showing top 3 rows

## Linear Regression using pyspark.ml.regression.LinearRegression

In [ ]:
# train_data,test_data=final_data.randomSplit([0.75,0.25])

In [ ]:
# from pyspark.ml.regression import LinearRegression

# regressor = LinearRegression(featuresCol='independent_features',labelCol='survival_days')

# regressor = regressor.fit(train_data)